<nav class = 'heder-nav'>
  <ul class = 'menu'
  <li class = 'menu__list'>TOP</li>
  <li class = 'menu__list'>CONTACT</li>
  <li class = 'menu__list menu__list--back-black'>ABOUT US</li>
  <li class = 'menu__list'>SERVICE</li>
  </ul>
</nav>
  